@import "variables";

html, body {
	margin: $zero;
	padding: $zero;
	height: $prc-full;
}

body {
	min-height: $prc-full;
	overflow-y: scroll;
}

.header-left-round,
.header-right-round,
.footer-left-round,
.footer-right-round {
	display: block;
	position: absolute;
	background-color: $onyx;
	width: $px-10;
	height: $px-10;

	&:after {
		content: "";
		display: block;
		background-color: $eerie-black;
		width: $px-10;
		height: $px-10;
	}
}

.header-left-round,
.header-right-round {
	bottom: $px-neg-10;
}

.footer-left-round,
.footer-right-round {
	top: $px-neg-10;
}

.header-left-round,
.footer-left-round {
	left: $zero;
}

.header-right-round,
.footer-right-round {
	right: $zero;
}

.isEven {
	background-color: $alt;
}

table {
	border-radius: $border-radius;
	border-spacing: $zero;
	overflow: hidden;
	border: $border-size $border-style $border-colour;

	thead tr th, tbody tr td {
		padding: $th-td-padding;
		min-width: $th-td-min-width;
	}

	thead {
		background-color: $thead-bg-colour;
	}

	tbody {
		tr:nth-of-type(even) {
			background-color: $tr-even-colour;
		}
	}

	td, th {
		border-left: $border-size $border-style $alt;
	}

	td:first-child, th:first-child {
		border-left: $td-th-left-border;
	}
}

html body {
	background-color: $eerie-black;

	.heading-permalink {
		display: inline-block;
		padding-left: $hdr-link-left-padding;
		text-decoration: $hdr-link-txt-dec;
		opacity: $hdr-link-opacity;
	}

	.heading-permalink:hover {
		opacity: $hdr-link-hover-opacity;
	}

	.hint {
		position: relative;
		overflow: hidden;
		background-color: $hnt-bg-colour;
		max-width: $hnt-max-width;
		border-radius: $border-radius;
		padding-left: $hnt-left-padding;
		margin-bottom: $hnt-bottom-margin;
		.hint-title {
			margin: $hnt-title-margin;
			padding: $hnt-title-top-padding $hnt-title-right-padding $hnt-title-bottom-padding $hnt-title-left-padding;
			font-size: $hnt-title-font-size;
			border-bottom: $border-size $border-style $hnt-title-bottom-border-colour;
			border-top-right-radius: $border-radius;
			border-top-left-radius: $border-radius;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: $zero;
				left: $zero;
				height: $prc-full;
				width: $px-10;
				background-color: $hnt-default-colour;
			}
		}
		.hint-content {
			margin: $zero;
			padding: $hnt-content-padding;
		}
	}

	.note .hint-title::before {
		background-color: $hnt-note-colour;
	}

	.danger .hint-title::before {
		background-color: $hnt-danger-colour;
	}

	.warning .hint-title::before {
		background-color: $hnt-warning-color;
	}

	.success .hint-title::before {
		background-color: $hnt-success-colour;
	}

	.tip .hint-title::before {
		background-color: $hnt-tip-colour;
	}

	code, pre {
		border-radius: $code-border-radius !important;
	}

	/*
	 * Header
	 */
	header {
		position: fixed;
		width: 100%;
		background-color: $h-bg-colour;
		padding: $h-padding;
		z-index: 50;

		pre, p , h1, h2, h3, h4, h5, h6 {
			color: $h-txt-colour;
		}

		.header-left-round {
			&:after {
				border-top-left-radius: $border-radius-big;
			}
		}

		.header-right-round {
			&:after {
				border-top-right-radius: $border-radius-big;
			}
		}

		.logo {
			position: absolute;
			top: 5px;
			left: 5px;
			a {
				display: block;
				height: 45px;
				img {
					height: 100%;
				}
			}
		}

		/*
		 * Searchbar
		 */
		.searchbar {
			width: $srch-width;
			margin: $srch-center;
			#search {
				font-size: $srch-font-size;
				width: calc(100% - 10px);
				padding: $px-5;
				border: none;
				border-radius: $border-radius-big;
				text-align: $srch-txt-align;
				background-color: $srch-bg-colour;
				color: $srch-txt-colour;
			}

			#search-result {
				position: absolute;
				top: 54px;
				display: block;
				background-color: $srch-bg-colour;
				color: $srch-txt-colour;
				border-radius: $border-radius;
				overflow: hidden;
				word-wrap: normal;
				width: $srch-width;
				font-family: "Inter", sans-serif;
				div {
					a {
						display: block;
						width: $prc-full;
						padding: $px-10;
						color: $srch-txt-colour;
						text-decoration: $srch-link-txt-dec;
						&:hover, &:focus{
							background-color: $srch-rslt-hover-colour;
						}
					}
				}
			}
		}
	}

	/*
	 * Sidebar navigation
	 */
	div.sidebar {
		background-color: $side-bg-colour;
		color: $side-txt-colour;
		font-family: $side-font-fam;
		display: block;
		float: $side-float;
		word-wrap: break-word;
		border-radius: $border-radius-big;
		padding: $px-10;
		margin: $side-margin;
		width: $side-width;
		list-style-type: none;
		ul {
			list-style-type: none;
			padding-left: $zero;
		}
		li {
			width: $prc-full;
			border-radius: $border-radius;
			ul {
				padding-left: 15px;
			}
		}
		a {
			position: relative;
			display: inline-block;
			border-radius: $border-radius;
			color: $side-txt-colour;
			text-decoration: none;
			width: calc(100% - 10px);
			padding: $side-txt-padding;
			overflow: auto;
			z-index: 2;
			span {
				transition: ease 500ms;
			}
			&::after {
				content: "";
				position: absolute;
				top: $zero;
				left: $zero;
				width: $zero;
				height: $prc-full;
				border-radius: $border-radius;
				background-color: $side-txt-hover-bg-colour;
				transition: ease 500ms;
				z-index: -1;
			}
			&:hover {
				span {
					padding-left: $px-5;
				}
				&::after {
					width: $prc-full;
				}
			}
		}
	}

	/*
	 * Main content
	 */
	main {
		width: calc(85% - 90px);
		min-height: calc(100vh - 218px);
		background-color: $main-bg-colour;
		float: $main-float;
		margin: $main-margin;
		padding: $main-padding;
		border-radius: $border-radius-big;
		color: $main-txt-colour;

		img {
			max-width: 100%;
		}

		iframe {
			border-radius: $border-radius;
		}

		blockquote {
			padding: 1px 10px;
			border-left: 5px solid $carolina-blue;
			background-color: $onyx-bright;
		}

		p, a, h1, h2, h3, h4, h5, h6, ul, ol, table {
			font-family: $main-font-family;
		}
		code, pre {
			font-family: $code-font-family;
			background-color: $code-block;
			padding: 2px 5px;
		}

		a {
			color: $main-link-colour;
			transition: ease 300ms;
			&:hover {
				color: $main-link-hover-colour;
			}
		}
	}

	/*
	 * Footer
	 */
	footer {
		clear: both;
		position: relative;
		padding: $ft-padding;
		background-color: $ft-bg-colour;
		font-family: $ft-font-fam;
		p {
			color: $ft-txt-colour;
			text-align: $ft-txt-align;
		}

		a {
			color: $ft-link-colour;
			transition: ease 300ms;
			&:hover {
				color: $ft-link-hover-colour;
			}
		}

		.footer-left-round {
			&:after {
				border-bottom-left-radius: $border-radius-big;
			}
		}

		.footer-right-round {
			&:after {
				border-bottom-right-radius: $border-radius-big;
			}
		}
	}
}