/* Colours */
$eerie-black: #1d201f;
$alt: #333638;
$onyx: #393d3f;
$onyx-bright: #4c5154;
$carolina-blue: #9bc1dc;
$vermilion: #c84630;
$green-pigment: #08a045;
$pear: #d0d024ff;
$code-block: #303030;

/* Gradients */
$gradient-top: linear-gradient(0deg, #1d201fff, #393d3fff, #5998c5ff, #c84630ff, #08a045ff, #d0d024ff);
$gradient-right: linear-gradient(90deg, #1d201fff, #393d3fff, #5998c5ff, #c84630ff, #08a045ff, #d0d024ff);
$gradient-bottom: linear-gradient(180deg, #1d201fff, #393d3fff, #5998c5ff, #c84630ff, #08a045ff, #d0d024ff);
$gradient-left: linear-gradient(270deg, #1d201fff, #393d3fff, #5998c5ff, #c84630ff, #08a045ff, #d0d024ff);
$gradient-top-right: linear-gradient(45deg, #1d201fff, #393d3fff, #5998c5ff, #c84630ff, #08a045ff, #d0d024ff);
$gradient-bottom-right: linear-gradient(135deg, #1d201fff, #393d3fff, #5998c5ff, #c84630ff, #08a045ff, #d0d024ff);
$gradient-top-left: linear-gradient(225deg, #1d201fff, #393d3fff, #5998c5ff, #c84630ff, #08a045ff, #d0d024ff);
$gradient-bottom-left: linear-gradient(315deg, #1d201fff, #393d3fff, #5998c5ff, #c84630ff, #08a045ff, #d0d024ff);
$gradient-radial: radial-gradient(#1d201fff, #393d3fff, #5998c5ff, #c84630ff, #08a045ff, #d0d024ff);

/* Percents */
$prc-full: 100%;
$prc-three-quarters: 75%;
$prc-half: 50%;
$prc-quarter: 25%;
$prc-zero: 0%;

/* Pixel lengths */
$zero: 0;
$px-5: 5px;
$px-neg-5: -5px;
$px-10: 10px;
$px-neg-10: -10px;

/* Borders */
$border-size: 1px;
$border-style: solid;
$border-colour: $alt;
$border-radius: $px-5;
$border-radius-big: $px-10;

/* Tables */
$th-td-padding: $px-5;
$th-td-min-width: 125px;
$thead-bg-colour: $eerie-black;
$tr-even-colour: $alt;
$td-th-left-border: none;

/* Headers */
$hdr-link-txt-dec: none;
$hdr-link-opacity: 0.1;
$hdr-link-left-padding: $px-10;
$hdr-link-hover-opacity: 0.5;

/* Hints */
$hnt-bg-colour: $onyx-bright;
$hnt-max-width: 800px;
$hnt-left-padding: $px-10;
$hnt-bottom-margin: $px-10;
$hnt-title-margin: $zero;
$hnt-title-top-padding: $px-5;
$hnt-title-right-padding: $zero;
$hnt-title-bottom-padding: $px-5;
$hnt-title-left-padding: $px-5;
$hnt-title-font-size: 1.3em;
$hnt-title-bottom-border-colour: $onyx;
$hnt-content-padding: $px-5;
$hnt-default-colour: #FFF;
$hnt-note-colour: $eerie-black;
$hnt-danger-colour: #c84630;
$hnt-warning-color: darkorange;
$hnt-success-colour: #08a045;
$hnt-tip-colour: #5998c5;

/* Code Blocks */
$code-border-radius: $px-5;
$code-font-family: "Hack", monospace;

/* Header */
$h-bg-colour: $onyx;
$h-padding: 2px;
$h-txt-colour: #FFF;

/* Searchbar */
$srch-width: 325px;
$srch-center: 5px auto;
$srch-font-size: 25px;
$srch-txt-align: center;
$srch-bg-colour: $onyx-bright;
$srch-txt-colour: #FFF;
$srch-link-txt-dec: none;
$srch-rslt-hover-colour: $green-pigment;

/* Sidebar */
$side-bg-colour: $onyx;
$side-txt-colour: #FFF;
$side-font-fam: "Inter", serif;
$side-float: left;
$side-margin: 65px $px-10;
$side-width: 15%;
$side-txt-colour: #FFF;
$side-txt-padding: $px-5 $px-5;
$side-txt-hover-bg-colour: $onyx-bright;

/* Main content */
$main-bg-colour: $onyx;
$main-float: left;
$main-margin: 65px $px-10 $px-10 $zero;
$main-padding: 20px 20px 50px 20px;
$main-txt-colour: #FFF;
$main-font-family: "Inter", serif;
$main-link-colour: $carolina-blue;
$main-link-hover-colour: $green-pigment;

/* Footer */
$ft-padding: $px-10;
$ft-bg-colour: $onyx;
$ft-font-fam: "Inter", serif;
$ft-txt-colour: #FFF;
$ft-link-colour: $carolina-blue;
$ft-txt-align: center;
$ft-link-hover-colour: $green-pigment;